﻿<div style="margin-bottom:10px;width:100%;">
    <app-language-selector></app-language-selector>
</div><br /><br />
<div class='table-responsive' style="border:none;margin-left:0px;">
    <div class="panel panel-primary" style="border:none;margin-left:0px;">
        <div class="panel-heading">
            {{ 'CHANGE_PASSWORD.TITLE' | translate }}
        </div>
        <div class="panel-body" style="padding-left:0px;">

            <form class="form-horizontal"
                  novalidate
                  (ngSubmit)="changePassword()"
                  #signupForm="ngForm"
                  [formGroup]="changePasswordForm">
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                                <input matInput id="currentPasswordId"
                                       type="password" tmFocus
                                       placeholder="{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate }}"
                                       formControlName="currentPassword">
                                <mat-error *ngIf="(changePasswordForm.get('currentPassword').touched || changePasswordForm.get('currentPassword').dirty) && changePasswordForm.get('currentPassword').errors">
                                    <mat-error *ngIf="changePasswordForm.get('currentPassword').errors.required">
                                        {{ 'CHANGE_PASSWORD.CURRENT_PASSWORD_REQUIRED' | translate }}
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div formGroupName="newPasswordGroup">
                        <div class="form-group">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="newPasswordId"
                                           type="password"
                                           placeholder="{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
                                           formControlName="newPassword" />
                                    <mat-error *ngIf="(changePasswordForm.get('newPasswordGroup.newPassword').touched || changePasswordForm.get('newPasswordGroup.newPassword').dirty)
                                                        && changePasswordForm.get('newPasswordGroup.newPassword').errors">
                                        <mat-error *ngIf="changePasswordForm.get('newPasswordGroup.newPassword').errors.required">
                                            {{ 'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="changePasswordForm.get('newPasswordGroup.newPassword').errors.pattern">
                                            {{ 'CHANGE_PASSWORD.NEW_PASSWORD_PATTERN' | translate }}
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput
                                           id="confirmPasswordId"
                                           type="password"
                                           placeholder="{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}"
                                           formControlName="confirmPassword"
                                           [errorStateMatcher]="parentErrorStateMatcher" />

                                    <mat-error *ngIf="(changePasswordForm.get('newPasswordGroup.confirmPassword').touched ||
                                            changePasswordForm.get('newPasswordGroup.confirmPassword').dirty) &&
                                            (changePasswordForm.get('newPasswordGroup.confirmPassword').errors ||
                                             changePasswordForm.get('newPasswordGroup').errors)">
                                        <mat-error *ngIf="changePasswordForm.get('newPasswordGroup.confirmPassword').errors?.required">
                                            {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="changePasswordForm.get('newPasswordGroup').errors?.match">
                                            {{ 'CHANGE_PASSWORD.NEW_PASSWORD_MATCH' | translate }}
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <span>
                                <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!changePasswordForm.valid">
                                    {{ 'CHANGE_PASSWORD.TITLE' | translate }}
                                </button>
                                <!--<app-spinner [isRunning]="isRequesting"></app-spinner>-->

                            </span><br />
                            <div *ngIf="isRequesting" style="margin-top:10px;">
                                <mat-progress-spinner [color]="color" [diameter]="48" [strokeWidth]="6.4" [mode]="mode" [value]="spinnerValue">
                                </mat-progress-spinner>
                            </div>
                        </div>
                    </div>

                    <!--<div *ngIf="errors" class="alert alert-danger" role="alert">
                        <strong>Oops!</strong> {{errors}}
                    </div>-->
                </fieldset>
            </form>

        </div>

    </div>
</div>