<div class="row padding-top-xlarge padding-bottom-xlarge">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form class="margin-top-large" [formGroup]="changePasswordForm">
        <div class="form-group">
          <label for="old-password">Old Password</label>
          <input type="password" class="form-control" id="old-password-change" formControlName="oldPassword">
          <p *ngIf="oldPassword.hasError('required') && !oldPassword.pristine" class="alert alert-danger">Field is required.</p>
          <!-- <control-messages [control]="changePasswordForm.controls.oldPassword"></control-messages> -->
        </div>
        <khk-new-password
          [passwordGroup]="changePasswordForm.controls.newPassword"
          passwordText="New Password"
          passwordConfirmText="Re-enter new password">
        </khk-new-password>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" (click)="onSubmit($event)" [disabled]="changePasswordForm.pristine || !changePasswordForm.valid">
            Confirm
          </button>
        </div>
      </form>
      <p *ngIf="errors" class="alert alert-danger">{{ errors }}</p>
  </div>
</div>
