<div class="content-container">
  <div class="row padding-top-xlarge padding-bottom-xlarge">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab">Change password</a></li>
          </ul>
          <div class="tab-content padding-medium">
              <div class="tab-pane active" id="change-password">
                  <form class="margin-top-large" [formGroup]="changePasswordForm">
                      <div class="form-group">
                        <label for="old-password">Old Password</label>
                        <input type="password" class="form-control" id="old-password-change" formControlName="oldPassword">
                        <div *ngIf="oldPassword.hasError('required') && !oldPassword.pristine" class="alert alert-danger">
                          Field is required
                        </div>

                        <control-messages [control]="changePasswordForm.controls.oldPassword"></control-messages>
                        <!-- <div *ngIf="formErrors.oldPassword" class="alert alert-danger">
                            {{formErrors.oldPassword}}
                        </div> -->

                    </div>
                      <div class="form-group">
                          <label for="new-password-change">New Password</label>
                          <input type="password" class="form-control" id="new-password-change" formControlName="newPassword" maxlength="20">
                          <div *ngIf="newPassword.hasError('required') && !newPassword.pristine" class="alert alert-danger">
                            Field is required
                          </div>
                          <div *ngIf="newPassword.hasError('pattern') && newPassword.touched" class="alert alert-danger">
                              <p>Password need to:</p>
                              <ul>
                                  <li>Have at least 8 characters</li>
                                  <li>Include an UPPERCASE letter</li>
                                  <li>Include a lowercase letter</li>
                                  <li>Include a number or special sign (i.e.!,?)</li>
                              </ul>
                          </div>
                          <!-- <div *ngIf="formErrors.newPassword && formErrors.newPassword != 'pattern'" class="alert alert-danger">
                              Filed is required
                          </div>
                          <div *ngIf="formErrors.newPassword === 'pattern' && changePasswordForm.get('newPassword').touched" class="alert alert-danger">
                              <p>Password need to:</p>
                              <ul>
                                  <li>Have at least 8 characters</li>
                                  <li>Include an UPPERCASE letter</li>
                                  <li>Include a lowercase letter</li>
                                  <li>Include a number or special sign (i.e.!,?)</li>
                              </ul>
                          </div> -->
                      </div>
                      <div class="form-group">
                          <label for="new-password-confirm-change">Re-enter new password</label>
                          <input type="password" class="form-control" id="new-password-confirm-change" formControlName="newPasswordConfirmed" maxlength="20">
                          <div *ngIf="newPasswordConfirmed.hasError('mismatch') && newPasswordConfirmed.touched" class="alert alert-danger">
                              Password mismatch
                          </div>
                          <!-- <div *ngIf="formErrors.newPasswordConfirmed && changePasswordForm.get('newPasswordConfirmed').touched" class="alert alert-danger">
                              Password mismatch
                          </div> -->
                      </div>
                      <div class="form-group text-center">
                          <button type="submit" class="btn btn-primary"
                          (click)="onSubmit($event)"
                          [disabled]="changePasswordForm.pristine || !changePasswordForm.valid"
                          >
                              Confirm <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </button>
                      </div>
                      <!-- <div>
                        {{ formErrors | json }}
                      </div> -->
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
