<div [formGroup]="passwordGroup">
  <div class="form-group">
    <label for="password">{{passwordText}}</label>
    <input type="password" class="form-control" id="password" formControlName="password" maxlength="20">
    <p *ngIf="password.hasError('required') && !password.pristine" class="alert alert-danger">Field is required.</p>
    <div *ngIf="password.hasError('pattern') && password.touched" class="alert alert-danger">
      Password need to:
      <ul>
        <li>Have at least 8 characters</li>
        <li>Include an UPPERCASE letter</li>
        <li>Include a lowercase letter</li>
        <li>Include a number and special sign (i.e.!,?)</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="password-confirm">{{passwordConfirmText}}</label>
    <input type="password" class="form-control" id="password-confirm" formControlName="passwordConfirm" maxlength="20">
    <p *ngIf="passwordGroup.hasError('passwordMismatch') && passwordConfirm.touched" class="alert alert-danger">Password mismatch.</p>
  </div>
</div>
