<form [formGroup]="registerForm" class="margin-top-large" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="register-nickname">Nickname</label>
        <input formControlName="nickname" type="text" id="register-nickname" class="form-control" trim required>
        <p *ngIf="nickname.hasError('required') && !nickname.pristine" class="alert alert-danger">Field is required.</p>
    </div>
    <div class="form-group">
        <label for="register-email">Email</label>
        <input formControlName="email" type="email" id="register-email" class="form-control" trim required>
        <p *ngIf="email.hasError('required') && !email.pristine" class="alert alert-danger">Field is required.</p>
        <p *ngIf="email.hasError('email') && !email.hasError('required') && email.touched" class="alert alert-danger">Incorrect format.</p>
    </div>
    <khk-new-password
      [passwordGroup]="registerForm.controls.newPassword"
      passwordText="Password"
      passwordConfirmText="Please confirm your password">
    </khk-new-password>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-small" [disabled]="!registerForm.valid || this.isSubmitting">
            Register
        </button>
    </div>
</form>
<p *ngIf="errors" class="alert alert-danger">{{ errors }}</p>
