<div class="row padding-top-xlarge padding-bottom-xlarge">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form class="margin-top-large" [formGroup]="newPasswordForm">
        <khk-new-password
          [passwordGroup]="newPasswordForm"
          passwordText="New Password"
          passwordConfirmText="Re-enter new password">
        </khk-new-password>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" (click)="onSubmit($event)" [disabled]="newPasswordForm.pristine || !newPasswordForm.valid">
            Confirm
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
      </form>
</div>
</div>
